@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

.vision-section {
    height: 300px;
    padding-left: 20%;
    padding-right: 20%;


}

.vision-section h3 {
    color: #1e6794;
    font-size: xx-large;
    font-family: "Karla", sans-serif;

}

.highlight {
    color: #f7be12;
}

@media (max-width: 768px) {

    .vision-section{
        height: 70%;
    }
    .vision-section h3{
        font-size: x-large;
    }
}